<template>
  <nav class="navbar is-danger" role="navigation" aria-label="main navigation">
    <div class="container px-2">
      <div class="navbar-brand">
        <RouterLink class="navbar-item is-size-4 is-family-monospace" :to="{name: 'Notes'}">
          NotesList
        </RouterLink>

        <a 
          role="button" 
          class="navbar-burger"
          :class="{'is-active': showNavBarMenu}"
          @click.prevent="showNavBarMenu = !showNavBarMenu"
          aria-label="menu" 
          aria-expanded="false" 
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <div id="navbarBasicExample" class="navbar-menu" :class="{'is-active': showNavBarMenu}">
        <div v-if="authStore.user.uid" class="navbar-start">
          <button @click.prevent="handleLogout" class="button is-info is-small my-2 ml-3">Logout</button>
        </div>
        <div class="navbar-end">
          <RouterLink active-class="is-active" class="navbar-item" :to="{name: 'Notes'}">Notes</RouterLink>
          <RouterLink active-class="is-active" class="navbar-item" :to="{name: 'States'}">States</RouterLink>
        </div>
      </div>
    </div>
  </nav>
</template>

<script setup>
import { ref } from "vue";

import { useAuthStore } from "../../stores/AuthStore";

const authStore = useAuthStore()

const showNavBarMenu = ref(false)

function handleLogout() {
  authStore.logoutUser()
}


</script>

<style scoped>
  @media screen and (max-width: 1023px) {
    .navbar-menu {
      position: absolute;
      left: 0;
      right: 0;
    }
  }
</style>

