<template>
  <div>
    <div class="tabs is-centered">
      <ul>
        <li :class="{'is-active': !register}">
          <a @click.prevent="register = false">Login</a>
        </li>
        <li :class="{'is-active': register}">
          <a @click.prevent="register = true">Register</a>
        </li>
      </ul>
    </div>

    <form @submit.prevent="onSubmit">
      <div class="card auth-form">
        <div class="card-content">
          <div class="title has-text-centered">{{ formTitle }}</div>
          
          <div class="content">
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input v-model="credentials.email" required class="input" type="email" placeholder="Enter Email">
              </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input v-model="credentials.password" required class="input" type="password" placeholder="Enter Password">
              </div>
            </div>

            <div class="field is-grouped is-grouped-right">
              <p class="control">
                <button type="submit" class="button is-link">
                  {{ formTitle }}
                </button>
              </p>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</template>

<script setup>
import { ref, reactive, computed } from 'vue';

import { useAuthStore } from '../stores/AuthStore';

const authStore = useAuthStore()

const register = ref(false)

const credentials = reactive({
  email: '',
  password: ''
})

const formTitle = computed(() => {
  return register.value ? 'Register' : 'Login';
})

function onSubmit() {
  if(register.value) {
    authStore.registerUser(credentials)
  }
  else {
    authStore.loginUser(credentials)
  }
}

</script>

<style scoped>
.auth-form {
  max-width: 400px;
  margin: 0 auto;
}
</style>