<template>
  <AddEditNote bgColor="warning" placeholder="Enter new content..." label="Edit Note" v-model="newNoteContent" ref="addEditNoteRef">
    <template #button>
      <button class="button" @click.prevent="$router.back()">Cancel</button>
      <button @click.prevent="onSave" :disabled="!newNoteContent" class="button is-link">Save Note</button>
    </template>
  </AddEditNote>
</template>

<script setup>
import { useRoute, useRouter } from 'vue-router';
import { ref } from 'vue';

import AddEditNote from '../components/Notes/AddEditNote.vue';
import { useNotesStore } from '../stores/NotesStore';

const route = useRoute()
const router = useRouter()

const newNoteContent = ref('')
const notesStore = useNotesStore()
newNoteContent.value = notesStore.getNoteContentById(route.params.id)

function onSave() {
  notesStore.updateNote(route.params.id, newNoteContent.value)
  alert("Edit Successfully!!!")
  router.back()
}

</script>