<template>
  <AddEditNote label="Add New Note" v-model="newNoteContent" ref="addEditNoteRef">
    <template #button>
      <button :disabled="!newNoteContent" @click.prevent="addNewNote" class="button is-link">Add New Note</button>
    </template>
  </AddEditNote>
  
  <progress v-if="!notesLoaded" class="progress is-large is-info" max="100" />
  <template v-else>
    <SingleNote :note="note" v-for="note in notes" :key="note.id" />
    <div v-if="!notes.length" class="has-text-centered py-2 is-size-4 has-text-grey-light is-family-monospace">No Notes Added here yet!!!</div>
  </template>

</template>

<script setup>
import { onMounted, ref, watch } from "vue";

import SingleNote from "../components/Notes/SingleNote.vue"
import AddEditNote from "../components/Notes/AddEditNote.vue";

import { useNotesStore } from "../stores/NotesStore";
import { storeToRefs } from "pinia";
import { useCharactersLimit } from "../composables/useCharactersLimit";

const notesStore = useNotesStore()
const {notes, notesLoaded} = storeToRefs(notesStore)

const newNoteRef = ref();
const addEditNoteRef = ref(null);

const newNoteContent = ref('');

function addNewNote() {
  notesStore.addNewNote(newNoteContent.value)
  newNoteContent.value = ''
  addEditNoteRef.value.focusTextArea()
}

useCharactersLimit(newNoteContent, 100)

</script>