<template>
  <div class="mt-3">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>State</th>
          <th>Value</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Total Notes Count</td>
          <td>{{ notesCount }}</td>
        </tr>
        <tr>
          <td>Total Characters Count</td>
          <td>{{ charactersCount }}</td>
        </tr>
      </tbody>
    </table>

    <input v-model="feedback" type="text" class="input" placeholder="Enter Feedback...">
  </div>
</template>

<script setup>
import { ref } from 'vue';

import { useNotesStore } from '../stores/NotesStore';
import { useCharactersLimit } from '../composables/useCharactersLimit';

const notesStore = useNotesStore();
const feedback = ref('')

const notesCount = notesStore.totalNotesCount;
const charactersCount = notesStore.totalCharactersCount;

useCharactersLimit(feedback, 100)

</script>