<template>
  <div class="my-4 p-4" :class="`has-background-${bgColor}`">
    <div class="field">
      <label class="label" v-if="label">{{ label }}</label>
      <div class="control">
        <textarea 
        :placeholder="placeholder"
        @input="$emit('update:modelValue', $event.target.value)"
        maxlength="100"
        ref="textareaRef" :value="modelValue" class="textarea"></textarea>
      </div>
    </div>

    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <slot name="button"></slot>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';

const props = defineProps({
  modelValue: {
    type: String,
    required: true,
  },
  bgColor: {
    type: String,
    default: 'primary-light'
  },
  label: {
    type: String
  },
  placeholder: {
    type: String,
    default: ''
  }
})
const emit = defineEmits(['update:modelValue'])

const textareaRef = ref(null)

const focusTextArea = () => {
  textareaRef.value.focus()
}

defineExpose({
  focusTextArea
})
</script>