<template>
  <div @click.self="closeModal" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Delete this note</p>
        <button @click.prevent="closeModal" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        Are you sure you want to delete?
      </section>
      <footer class="modal-card-foot">
        <div class="buttons">
          <button @click.prevent="handleDeleteNote" class="button is-danger">Delete</button>
          <button @click.prevent="closeModal" class="button">Cancel</button>
        </div>
      </footer>
    </div>
  </div>
</template>

<script setup>
import {useNotesStore} from "../../stores/NotesStore"

const props = defineProps({
  modelValue: {
    type: Boolean,
    required: true,
  },
  noteId: {
    type: String,
    required: true
  }
})

const notesStore = useNotesStore()

const emits = defineEmits(['update:modelValue'])

function closeModal() {
  emits('update:modelValue', false)
}

function handleDeleteNote() {
  notesStore.deleteNote(props.noteId)
  closeModal()
}
</script>