<template>
  <div class="card">
    <div class="card-content">
      <div class="content">
        {{note.content}}
        <div class="columns has-text-grey-light">
          <small class="column">{{description}}</small>
          <small class="column has-text-right">{{ formattedDate }}</small>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <RouterLink :to="{name: 'EditNote', params: {id: note.id}}" class="card-footer-item">Edit</RouterLink>
      <a href="#" class="card-footer-item" @click.prevent="handleDeleteClick">Delete</a>
    </footer>

    <DeleteNoteModal :noteId="note.id" v-model="modals.deleteModal" v-if="modals.deleteModal" />
  </div>
</template>

<script setup>
import { computed, reactive } from "vue"
import { useDateFormat } from "@vueuse/core";

import { useNotesStore } from "../../stores/NotesStore";

import DeleteNoteModal from "./DeleteNoteModal.vue";

const props = defineProps({
  note: {
    type: Object,
    required: true
  }
})

const notesStore = useNotesStore()

const modals = reactive({
  deleteModal: false
})


const formattedDate = computed(() => {
  const date = new Date(props.note.date)
  return useDateFormat(date, 'YYYY-MM-DD @ HH:mm:ss').value
})

const description = computed(() => {
  const number = props.note.content.length
  const text = number > 1 ? 'characters' : 'character'
  return `${number} ${text}`
})


function handleDeleteClick() {
  modals.deleteModal = true
}

</script>
