<template>
  <div>
    <NavBar />
    <div class="container px-2">
      <RouterView />
    </div>
  </div>
</template>

<script setup>
import { onMounted } from "vue";
import NavBar from "./components/Layout/NavBar.vue"

import { useNotesStore } from "./stores/NotesStore";
import { useAuthStore } from "./stores/AuthStore";

const notesStore = useNotesStore()
const authStore = useAuthStore()

onMounted(() => {
  authStore.init()
})

</script>

<style>
  @import 'bulma/css/bulma.min.css';
</style>
